.hot-search-box {
    border-radius: 8px;
    display: none;
    /* 默认隐藏 */
    position: absolute;
    /* 绝对定位 */
    width: 400px;
    height: 530px;
    border: 1px solid #ccc;
    top: 60px;
    margin-top: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    /* 背景色 */
    z-index: 10;
    /* 确保盒子在最上层 */
    overflow-y: auto;
    /* 内容过多时显示滚动条 */
    scrollbar-width: none;
    /* 隐藏滚动条（Firefox） */
}

/* 隐藏滚动条（Chrome、Edge、Safari） */
.hot-search-box::-webkit-scrollbar {
    display: none;
}

.hot-search-box p {
    margin: 20px 0 10px 10px;
    font-size: 16px;
    color: #d2d4d8;
}

.hot-search-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hot-search-list li {
    padding: 20px;
    font-size: 14px;
    display: flex;
    /* 使用 flex 布局 */
    align-items: center;
    /* 垂直居中 */
}

.hot-search-list li:nth-child(-n+3) span:first-child {
    color: red;
    font-weight: bold;
    /* 加粗 */
}

.hot-search-list li:nth-child(n+4) span:first-child {
    color: gray;
}

/* 热搜项的文字颜色 */
.hot-search-list li span:last-child {
    color: #3c4559;
    margin-left: 15px;
    /* 文字与数字之间的间距 */
}

.hot-search-list li:hover {
    background-color: #f2f3f4;
}